# Publish only the files needed to build, run and license the client.
*
!.gitignore
!package.json
!package-lock.json
!LICENSE
!src/
!src/**
src/native/bin/
*.log
src/distribute.cjs
src/release.cjs
src/package-windows.py
src/sdlcef/**/build*/
src/sdlcef/**/deps/
src/sdlcef/**/__pycache__/
